/testVideo.mp4
*.avi
*.m~
*.swp
resources/
Deep_Learning/nets/
Deep_Learning/Generated_Detections/
Deep_Learning/matconvnet-1.0-beta18/
testData/Generated_Detections/truth_images/
Deep_Learning/Attempt_One/data
Deep_Learning/data/Generate_Data/v1
